@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetical Neue";
  src: url("./assets/fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueBoldCondensed.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticalNeue";
  src: url("./assets/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticalNeue";
  src: url("./assets/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticalNeue";
  src: url("./assets/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticalNeue";
  src: url("./assets/fonts/HelveticaNeueCyr-Black.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticalNeue";
  src: url("./assets/fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCyr-Heavy.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

html,
body {
  @apply font-HelveticalNeue scroll-smooth;
}
.navMenu {
  @apply text-white bg-secondary-dark  w-full min-h-[350px] fixed top-[4.9rem] transition-all z-50;
}

/* no scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.embla__slide {
  position: relative;
  min-width: 100%;
}

.embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #081f3f;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.embla__button--prev {
  left: 1rem;
}

.embla__button--next {
  right: 1rem;
}
/*   */
@media screen and (max-width: 450px) {
}

@media screen and (min-width: 451px) and (max-width: 760px) {
}

@media only screen and (min-width: 768px) {
  .firstpara {
    padding: 2rem 2rem;
  }
  .firstpara-ad {
    width: 80%;
  }
  .product {
    padding: 2rem 2rem;
  }

  .how-it-works {
    padding: 2rem 9rem;
  }
  .bannerimg {
    transform: translateY(80%);
  }
  .contactpad {
    padding: 2rem 3rem;
  }
  .footerpad {
    padding: 2rem 2rem;
  }
  .sociallink {
    width: 40%;
  }
  /* .sociallink img {
    margin-bottom: -1rem;
  } */
  .similar-cars {
    width: 50%;
  }
}
@media screen and (min-width: 890px) {
  .bannerimg {
    transform: translateY(60%);
  }
}

@media only screen and (min-width: 1024px) {
  .headertxt h1 {
    font-size: 50px;
  }
  .firstpara {
    padding: 2rem 2rem;
  }
  .firstpara-ad {
    width: 80%;
  }
  .product {
    padding: 2rem 2rem;
  }

  .how-it-works {
    padding: 2rem 9rem;
  }

  .bannerimg {
    transform: translateY(60%);
  }
  .contactpad {
    padding: 2rem 3rem;
  }
  .footerpad {
    padding: 2rem 2rem;
  }
  .sociallink {
    width: 45%;
  }
  /* .sociallink img {
    margin-bottom: -2rem;
  } */
  .similar-cars {
    width: 50%;
  }
}
/* Define your breakpoints */
/* @media screen and (min-width: 450px) {
  

}

@media screen and (max-width: 641px) {
  

}

@media screen and (min-width: 990px) {
  

}

@media screen and (min-width: 1024px) {
  

}

@media screen and (min-width: 1280px) {
  

}

@media screen and (min-width: 1300px) {
  

}
*/
@media screen and (min-width: 1600px) {
  .headertxt h1 {
    font-size: 74px;
  }
  .sociallink img {
    margin-bottom: -4rem;
  }
  .bannerimg {
    transform: translateY(50%);
  }
}

@media screen and (min-width: 1870px) {
  /* .sociallink img {
    margin-bottom: -10rem;
  } */
  .bannerimg {
    transform: translateY(40%);
  }
}
